/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

body {
  background: url('../img/bg.gif');
  margin: 0px;
}

/*.container {
  height: 100%;
}*/

/*.card {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.5s;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  display: block;
  -webkit-backface-visibility: hidden;
}

#container {
  -webkit-perspective: 6000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 6000px;
  position: relative;
  -webkit-perspective-origin: 50% 90px;
  -webkit-transition: -webkit-perspective, 1s;
  -webkit-transform: scale(1);
}

#card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  width: 1000px;
  height: 100%;
  position: absolute;
}

#card div.face {
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -o-backface-visibility: hidden; 
  backface-visibility: hidden; 
}

#card .front {
  -webkit-transform: translateZ( 200px );
  -moz-transform: translateZ( 200px );
  -o-transform: translateZ( 200px );
  transform: translateZ( 200px );
}

#card .back {
  -webkit-transform: rotateX( -180deg ) translateZ( 200px );
  -moz-transform: rotateX( -180deg ) translateZ( 200px );
  -o-transform: rotateX( -180deg ) translateZ( 200px );
  transform: rotateX( -180deg ) translateZ( 200px );
}

#card .right1 {
  -webkit-transform: rotateY( 90deg ) translateZ( 200px );
  -moz-transform: rotateY( 90deg ) translateZ( 200px );
  -o-transform: rotateY( 90deg ) translateZ( 200px );
  transform: rotateY( 90deg ) translateZ( 200px );
}


#card .bottom {
  -webkit-transform: rotateX( -90deg ) translateZ( 200px );
  -moz-transform: rotateX( -90deg ) translateZ( 200px );
  -o-transform: rotateX( -90deg ) translateZ( 200px );
  transform: rotateX( -90deg ) translateZ( 200px );
}

#card .left1 {
  -webkit-transform: rotateY( -90deg ) translateZ( 200px );
  -moz-transform: rotateY( -90deg ) translateZ( 200px );
  -o-transform: rotateY( -90deg ) translateZ( 200px );
  transform: rotateY( -90deg ) translateZ( 200px );
}

#card.show-front {
  -webkit-transform: translateZ( -200px );
  -moz-transform: translateZ( -200px );
  -o-transform: translateZ( -200px );
  transform: translateZ( -200px );
}

#card.show-back {
  -webkit-transform: translateZ( -200px ) rotateX( -180deg );
  -moz-transform: translateZ( -200px ) rotateX( -180deg );
  -o-transform: translateZ( -200px ) rotateX( -180deg );
  transform: translateZ( -200px ) rotateX( -180deg );
}

#card.show-right {
  height: 1200px;
  -webkit-transform: translateZ( -200px ) rotateY(  -90deg );
  -moz-transform: translateZ( -200px ) rotateY(  -90deg );
  -o-transform: translateZ( -200px ) rotateY(  -90deg );
  transform: translateZ( -200px ) rotateY(  -90deg );
}

#card.show-bottom {
  -webkit-transform: translateZ( -200px ) rotateX( 91deg );
  -moz-transform: translateZ( -200px ) rotateX( 90deg );
  -o-transform: translateZ( -200px ) rotateX( 90deg );
  transform: translateZ( -200px ) rotateX( 91deg );
}

#card.show-left {
  -webkit-transform: translateZ( -200px ) rotateY(  90deg );
  -moz-transform: translateZ( -200px ) rotateY(  90deg );
  -o-transform: translateZ( -200px ) rotateY(  90deg );
  transform: translateZ( -200px ) rotateY(  90deg );
}*/

/* HEADER STYLE 
----------------------------------------------------- */

.hero-unit {
  margin-top: 20px;
}

.hero-unit h1 {
  text-align: right;
  text-transform: uppercase;
  color: rgba(90,90,90,0.9);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}


/* Nav 
-------------------------------------------------------*/

.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

/* LINKS AND TRANSITIONS
-----------------------------------------------------*/

a, a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #E36B23;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


/* CONNECT PAGE
----------------------------------------------------- */

.connect {
  text-align: center;
  margin-bottom: 10px;
}

.img-left {
  text-align: right;
}

.img-right {
  text-align: left;
}

.icon-8x {
  font-size: 8em;
}
.icon-8x.icon-border {
  border-width: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.icon-user.icon-8x {
  width: 96px;
}


/* INTEREST PAGE
--------------------------------------------------- */

.int-text {
  text-align: left;
}

/* RESUME PAGE
--------------------------------------------------- */

.resume {
  color: rgba(90,90,90,0.9);
  text-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.3);
}

.resText {
  margin: 0;
  padding: 0;
}

.alignRight {
  text-align: right;
  list-style-position: inside;
}

.resHeader {
  border-bottom: 1px solid rgba(0,0,0,0.3); 
  margin-bottom: 10px;
}


.item img{
  width: 600px;
}