* {
  font-family: sans-serif;
  color: #66c47e;
}
body {
  background: white url(../img/pw_maze_white.png);
  margin: 0;
  padding: 0;
  min-width: 210px;
}
.wrapper {
  width: 100%;
  margin: auto;
}
.wrapper h1 {
  padding-right: 40px;
}
header {
  background-color: rgba(125, 125, 125, 0.85);
  height: 150px;
  width: 100%;
  margin-top: 100px;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}
header div.wrapper {
  padding: 11px 0;
}
header div.wrapper div.panel {
  margin-top: 100px;
}
header div.wrapper div.panel h1 {
  text-align: right;
}
.content {
  padding-left: 70px;
  padding-right: 70px;
}
.content .column {
  position: relative;
  float: left;
  text-align: center;
}
.center {
  width: 100%;
  text-align: center;
  height: 400px;
  background-color: #f4fbf5;
  border-radius: 4px;
}
.left {
  right: 70px;
  margin-left: -100%;
}
.right {
  margin-right: -70px;
}
footer {
  clear: both;
  text-align: center;
}
.arrow {
  font-size: 2em;
}
.nav {
  width: 70px;
  background-color: #7d7d7d;
  border-radius: 4px;
  background: #7d7d7d;
  background: -moz-linear-gradient(top, #7d7d7d 0%, #7d7d7d 23%, #2f2f2f 86%, #2f2f2f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7d7d), color-stop(23%, #7d7d7d), color-stop(86%, #2f2f2f), color-stop(100%, #2f2f2f));
  background: -webkit-linear-gradient(top, #7d7d7d 0%, #7d7d7d 23%, #2f2f2f 86%, #2f2f2f 100%);
  background: -o-linear-gradient(top, #7d7d7d 0%, #7d7d7d 23%, #2f2f2f 86%, #2f2f2f 100%);
  background: -ms-linear-gradient(top, #7d7d7d 0%, #7d7d7d 23%, #2f2f2f 86%, #2f2f2f 100%);
  background: linear-gradient(to bottom, #7d7d7d 0%, #7d7d7d 23%, #2f2f2f 86%, #2f2f2f 100%);
}
.nav .bottom {
  margin: auto;
}
