@body-color: #F4FBF5;
@header-color: #7D7D7D;
@header-accent: #2F2F2F;
@btn-color: #66C47E;
@btn-accent: #9FDAAE;

* {
	font-family: sans-serif;
	color: @btn-color;
}

body {
	background: white url(../img/pw_maze_white.png);
	//background: white url(../img/escheresque_ste.png);
	margin: 0;
	padding: 0;
}

// .panel {
// 	background-color: @btn-color;

// }

// nav {
// 	background-color: @btn-accent;
// }

// footer nav {
// 	background-color: @header-accent;
// }

// header .panel {
// 		background-color: @header-color;
// }