/*.carousel-img {
	width: 640px;
	max-width: 640px;
  	height: 480px;
  	max-height: 480px;
}*/

/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
  background-color: #5a5a5a;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
    max-width: 640px;
    margin: auto;
}

.carousel .container {
    position: relative;
    z-index: 9;
    
}

.carousel-control {
  	height: 80px;
  	margin-top: 0;
  	font-size: 120px;
  	text-shadow: 0 1px 1px rgba(0,0,0,.4);
  	background-color: transparent;
  	border: 0;
  	z-index: 10;
}

.carousel .item {
  	height: 480px;
}
.carousel img {
  	position: absolute;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	height: 480px;
}

.carousel-caption {
  	background-color: transparent;
  	position: static;
  	max-width: 640px;
  	padding: 0 20px;
  	margin-top: 300px;
}
.carousel-caption h1,
.carousel-caption .lead {
  	margin: 0;
  	line-height: 1.25;
  	color: #fff;
  	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  	margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  	.carousel .item {
    	height: 480px;
  	}
  	.carousel img {
    	width: auto;
    	height: 480px;
  	}
}


@media (max-width: 767px) {

  	.carousel {
    	margin-left: -20px;
    	margin-right: -20px;
  	}
  	.carousel .container {

  	}
  	.carousel .item {
    	height: 480px;
  	}
  	.carousel img {
    	height: 480px;
  	}
  	.carousel-caption {
    	width: 65%;
    	padding: 0 70px;
    	margin-top: 300px;
  	}
  	.carousel-caption h1 {
    	font-size: 30px;
  	}
  	.carousel-caption .lead,
  	.carousel-caption .btn {
    	font-size: 18px;
  	}
}


/* Nav */
nav {
  position: fixed;
}

#left {
  left: 0%;
  top: 50%;
}

#right {
  right: 0%;
  top: 50%;
}

#bottom {
  left: 50%;
  right: 50%;
  bottom: 0%;
}

.rotate {
-webkit-transform: rotate(90deg); /* Safari */
-moz-transform: rotate(90deg); /* Firefox */
-ms-transform: rotate(90deg); /* IE */
-o-transform: rotate(90deg); /* Opera */
/* Internet Explorer */
/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/

}

.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 30px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}
                    
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}